@import "../../index.scss";

.navbar {
  background: $mainBlack;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 10px;
display: flex;
}

.nav-link {
    display: block;
  color: $mainGrey;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1em;
  transition: all 0.3s linear;
  &:hover {
    color: $mainGreen;
  }
}

.active {
  color: $mainGreen;
}
