@import "../../index.scss";

.tour {
  background: $mainGrey;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  .img-container {
      flex: 1 0 0%;
  }
  img {
    width: 100%;
    display: block;
    min-height: 13rem;
  }
  .tour-info {
      flex: 2 0 0%;
  }
}

@media all and (max-width: 800px) {
  .tour {
    display: flex;
flex-direction: column;
  }
}

.img-container {
  position: relative;
}
.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: $mainGreen;
  font-size: 2rem;
  cursor: pointer;
  transition: $mainTransition;
  opacity: 0;
}

.img-container:hover .close-btn{
    opacity: 1;
}

.tour-info {
    padding: 1rem 0.5rem;
    h3 {
        text-transform: uppercase;
        color: $mainGreen;
    }
    h4 {
        text-transform: capitalize;
        margin: 0.2rem 0 0.6rem 0;
    }
    h5 {
        text-transform: capitalize;
        span {
            color: $mainGreen;
            margin: 0.5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}